<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="../../../assets/images/logo.png" height="180" width="400" alt="Logo de l'application">
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Termes et conditions</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#"><img src="../../../assets/icon/x.png" height="70" width="70" alt="Twitter"></a>
            <a href="#"><img src="../../../assets/icon/insta.png" height="60" width="60" alt="Instagram"></a>
            <a href="#"><img src="../../../assets/icon/fb.png" height="50" width="50" alt="Facebook"></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="copyright">&copy; 2024 Sparring App. Tous droits réservés.</p>
    </div>
</footer>