<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="col-6">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/logo.png" width="80" height="80" class="d-inline-block align-top" alt="">
            </a>
        </div>
        <div class="col-6 item-bloc">
            <div >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">À PROPOS DE NOUS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="connexion">SE CONNECTER</a>
                    </li>
                </ul>
            </div>
            <div>
                <a href="">
                    <button type="button" class="btn btn-warning btn-inscription">COMMENCER L'ESSAI GRATUIT</button>
                </a>
            </div>
        </div>
    </div>
</nav>