<div class="container">
    <div class="row profil">
        <div class="card-bloc col-5">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                alt="avatar" class="rounded-circle img-fluid" height="200" width="200">
                            <h5 class="my-3 text-id text-capitalize">{{utilisateur.prenom}} {{utilisateur.nom}} </h5>
                        </div>
                        <div class="d-flex justify-content-center mb-2 my-5">
                            <button type="button" [routerLink]="['/admin/publicProfil', utilisateur.id]" class="btn btn-secondary btn-lg btn-outline-secondary">Aperçu du profil SparingConnect</button>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="info-bloc">
                            <div>
                                <p class="info-bloc-text"><span class="info-bloc-icon"><img src="../../../assets/svg/localisation.svg" height="20" width="20"
                                            alt="localisation"></span> Localisation</p>
                            </div>
                            <div class="info-bloc-info text-capitalize">
                                {{utilisateur.ville}}
                            </div>
                        </div>
                        <div class="info-bloc">
                            <div>
                                <p class="info-bloc-text" ><span class="info-bloc-icon"><img src="../../../assets/svg/localisation.svg" height="20" width="20"
                                            alt="localisation"></span> Menbre depuis</p>
                            </div>
                            <div class="info-bloc-info" >
    
                            </div>
                        </div>
                        <div class="info-bloc">
                            <div>
                                <p class="info-bloc-text" ><span class="info-bloc-icon"><img src="../../../assets/svg/localisation.svg" height="20" width="20"
                                            alt="localisation"></span>Age</p>
                            </div>
                            <div class="info-bloc-info">
                                {{utilisateur.age}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-profil-bloc col-7">
            <div class="card">
                <div class="description-bloc-title">
                    <div>
                        <p class="description-title">Description</p>
                    </div>
                    <div>
                        <button type="button" class="btn btn-link description-btn text-capitalize" (click)="descriptionForm()" >Modifier la description</button>
                    </div>
                </div>
                <hr>
                <div>
                    <div *ngIf="checkDescription; then thenBlock else elseBlock " ></div>
                    <ng-template #thenBlock>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="description"></textarea>
                            <div class="description-bloc-btn">
                                <div class="col">
                                    <button type="submit" (click)="descriptionForm()" class="btn btn-light btn-lg btn-block">Annuler</button>
                                </div>
                                <div class="col">
                                    <button type="submit" (click)="onSubmit()" class="btn btn-dark btn-lg btn-block">Sauvegarder</button>
                                </div>
                            </div>
                    </ng-template>
                    <ng-template #elseBlock>
                        {{utilisateur.description}}
                    </ng-template>
                </div>
            </div>
            <div class="card">
                <div class="profil-bloc-title">
                    <div>
                        <p class="profil-title">Profil</p>
                    </div>
                </div>
                <hr>
                <div class="profil-bloc-caracteristique">
                    <div class="col">
                        <div class="bloc-caracteristique">
                            <div class="bloc-caracteristique-tite">
                                <p>Poid :</p>
                            </div>
                            <div>
                                {{profil.poid}} Kg
                            </div>
                        </div>
                        <div class="bloc-caracteristique">
                            <div class="bloc-caracteristique-tite">
                                <p>Sport de combat :</p>
                            </div>
                            <div>
                                {{profil.sport}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bloc-caracteristique">
                            <div class="bloc-caracteristique-tite">
                                <p>Niveau :</p>
                            </div>
                            <div>
                                {{profil.niveau}}
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="btn-update-profil">
                    <div *ngIf="profil == null">
                        <a routerLink="/admin/adminProfil"><button type="submit" class="btn btn-dark btn-lg">Ajouter</button></a> 
                    </div>
                    <div *ngIf="profil != null">
                        <a routerLink="/admin/profilUpdate"><button type="submit" class="btn btn-dark btn-lg">Modifier</button></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>