<div class="carousel">
    <div>
        <h1 class="slogant">Trouvez facilement des sparring<br /> partners à votre niveau.</h1>
    </div>
    <div>
        <a href="registrer">
            <button type="button" class="btn btn-warning btn-inscription">COMMENCER L'ESSAI GRATUIT</button>
        </a>
    </div>
</div>
<div class="presentation">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p class="presentation-titre">
                    VOTRE APPLICATION DE SPARRING EST PRÊTE POUR VOUS
                </p>
                <p class="presentation-sous-titre">
                    Les utilisateurs de notre application reçoivent des recommandations personnalisées pour
                    optimiser
                    leurs
                    entraînements de boxe en trouvant le partenaire idéal.
                </p>
                <div class="caracteristique">
                    <p class="caracteristique-title">CARACTÉRISTIQUES DE L'APPLICATION</p>
                    <div class="caracteristique-partenaire">
                        <p class="caracteristique-subtitle">Trouvez le sparring partner idéal</p>
                        <p class="caracteristique-text">
                            Notre algorime vous connecte à des partenaires adaptés pour vous.
                        </p>
                    </div>
                    <div class="caracteristique-localisation">
                        <p class="caracteristique-subtitle">Recherchez par localisation</p>
                        <p class="caracteristique-text">
                            Trouvez des sparring partners locaux pour des sessions régulières.
                        </p>
                    </div>
                    <div class="caracteristique-niveau">
                        <p class="caracteristique-subtitle">Filtrez par niveau et style</p>
                        <p>
                            Trouvez des partenaires correspondant à vos besoins d'entraînement.
                        </p>
                    </div>
                    <div class="caracteristique-sessions ">
                        <p class="caracteristique-subtitle">Organisez vos sessions facilement</p>
                        <p>
                            Planifiez vos sessions de sparring facilement avec des rappels.
                        </p>
                    </div>
                    <div class="caracteristique-question">
                        <p>
                            Vous voulez l'essayer ? Découvrez notre application dès maintenant et trouvez le
                            sparring
                            partner parfait pour vous aider à atteindre vos objectifs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
</div>
<div class="contact container-fluid">
    <div class="row contact-bloc">
        <div class="col-6 contact-image">

        </div>
        <div class="col-6 contact-form">
            <div class="contact-msg">
                <p class="contact-msg-title">De l'énergie dans votre boîte de réception, chaque semaine</p>
                <p class="contact-msg-text">
                    Recevez des conseils, des partenaires de sparring recommandés et des astuces pour optimiser vos
                    entraînements directement dans votre boîte de réception.
                </p>
                <div class="connexion-home">
                    <form >
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Ton E-mail" field="*{mail}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password"
                                placeholder="Votre mot de passe " field="*{password}">
                        </div>
                        <button type="submit" class="btn btn-connexion" value="Register">SE CONNECTER</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>