<div class="container">
    <div class="row bloc-profil-info">
        <form (ngSubmit)="onSubmit()" #profilform="ngForm">
            <div class="question-bloc">
                <div class="question">
                    <p>Quel sport de combat pratiquiez-vous ?</p>
                </div>
                <div>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="profil.sport" required  #sport="ngModel">
                        <option selected>Choisissez votre sport de combat</option>
                        <option value="1">Kick Boxing</option>
                        <option value="2">Boxe Thailandaise</option>
                        <option value="3">Boxe Anglaise</option>
                        <option value="3">MMA</option>
                        <option value="3">Lute</option>
                        <option value="3">JJB</option>
                      </select>
                </div>
            </div>
            <div class="question-bloc">
                <div class="question">
                    <p>Quel est votre poid ?</p>
                </div>
                <div>
                    <div>
                        <input class="form-control" type="text" name="poid" [(ngModel)]="profil.poid" required
                            #poid="ngModel">
                    </div>
                    <div>
                        <p>Kg</p>
                    </div>
                </div>
            </div>
            <div class="question-bloc">
                <div class="question">
                    <p>Quel est votre niveau dans ce sport ?</p>
                </div>
                <div>
                    <select class="form-select" aria-label="Default select example" name="niveau"
                        [(ngModel)]="profil.niveaux" required #niveaux="ngModel">
                        <option value="Débutan">Débutan</option>
                        <option value="Intermédiaire">Intermédiaire</option>
                        <option value="Avancé">Avancé</option>
                        <option value="Professionnel">Professionnel</option>
                    </select>
                </div>
            </div>
            <div class="question-bloc">
                <input type="submit">
            </div>
        </form>
    </div>
</div>