/* You can add global styles to this file, and also import other style files */
.backgound-registration {
    background-image: url("assets/images/boxing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-registration {
    width: 100%;
    border-radius: 100px !important;
    background-color: #2E2C2C !important;
    margin-bottom: 3%;
    color: white !important;
}

.form-register {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
}

.form-input-bloc {
    margin-bottom: 4%;
}

.logo-registration {
    display: flex;
    justify-content: center;
}

body {
    background-color: #F7F7F7;
}

.question {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 16px;
}

.question-bloc {
    margin-bottom: 5%;
    margin-top: 5%;
}

.bloc-profil-info {
    box-shadow: 1px 1px 12px #55555559;
    padding: 2%;
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
}

.text-bloc-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.img-bloc-form {
    margin-right: 3%;
    align-items: center;
}

.text-form-titre {
    font-size: 24px;
    font-weight: bold;
}

.text-form-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.poid-bloc{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.poid-mesure{
    font-size: 17px;
    padding-left: 1%;
}
.question-submit-bloc{
    display: flex;
    justify-content: end;
}

.edit{
    margin-top: 4%;
    margin-bottom: 4%;
}

.edit-bloc-form{
    box-shadow: 1px 1px 12px #55555559;
    padding: 3%;
}