<div class="container-fluid admin-home">
    <div class="row">
        <div class="message-bloc col-12">
            <div class="message">
                <h2 class="message">Nous sommes contents de vous revoir, {{utilsiateur.prenom}} 👋</h2>
            </div>
            <div *ngIf="isProfil; then thenBlock else elseBlock"></div>
            <ng-template #elseBlock>
                <div class="ajout-info col-7">
                    <div class="ajout-info-text">
                        <div class="bloc-img">
                            <img class="img-gant" src="../../../assets/icon/gant.png" width="50" height="50" alt="">
                        </div>
                        <div class="bloc-text">
                            <div>
                                <p class="ajout-info-title">Adaptez SparingConnect à vos besoins</p>
                            </div>
                            <div>
                                <p class="ajout-info-subtitle">Parlez-nous un peu de votre experience.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" (click)="toRegisterProfil('/admin/adminProfil')"
                            class="btn btn-light">Ajoutez vos
                            informations</button>
                    </div>
                </div>
            </ng-template>
            <ng-template #thenBlock>
                <div class="ajout-info col-7">
                    <div class="ajout-info-text">
                        <div class="bloc-img">
                            <img class="img-gant" src="../../../assets/icon/gant.png" width="50" height="50" alt="">
                        </div>
                        <div class="bloc-text">
                            <div>
                                <p class="ajout-info-title">Adaptez SparingConnect à vos besoins</p>
                            </div>
                            <div>
                                <p class="ajout-info-subtitle">Parlez-nous un peu de votre experience.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" (click)="toRegisterProfil('/admin/profilUpdate')"
                            class="btn btn-light">Modifier vos
                            informations</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="carrousel-bloc">
            <div>
                <div>
                    <p class="title-carrousel">Trouvez votre partenaire idéal</p>
                </div>
                <div class="bloc-carrousel">
                    <div *ngFor="let utilisateurs of allUtilisateur"  class="col">
                        <div (click)="goToProfil(utilisateurs.id)" class="bloc-profil-carrousel ">
                            <div class="img-caroussel">
                                <img [src]="urlImage[utilisateurs.id]" height="350" width="300" alt="" class="img-caroussel">
                            </div>
                            <div>
                                <div class="identifiant-carrousel text-capitalize font-weight-bold ">
                                    <p class="identifiant">{{utilisateurs.prenom}}</p>
                                    <p class="ville h6">
                                        <span class="info-bloc-icon"><img src="../../../assets/svg/localisation.svg"
                                                height="20" width="20" alt="localisation"></span> {{utilisateurs.ville}}
                                    </p>
                                    <div *ngIf="utilisateurs.profile; then thenBlock else elseBlock"> </div>
                                    <ng-template #thenBlock>
                                        <p class="ville h6"><strong>Sport:</strong> {{utilisateurs.profile?.sport}}</p>
                                    </ng-template>
                                    <ng-template #elseBlock class="ville h6">
                                        <p class="ville h6"><strong>Sport:</strong> Pas encor de profil</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>